.title_input {
    border: none;
    box-shadow: none;
    input {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    input:focus {
        & {
            border-bottom: 1px solid @primary-color;
        }
    }
}
.tag_input {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid @neongreen !important;
    input {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }
}
